.footer{
    padding: 34px 0 55px;
    background: #fff;
    position: relative;
  }
  .footer_sns dt{
    margin-right: 15px;
    width: 160px;
    border: 1px solid #AF3702;
    color: #AF3702;
    text-align: center;
    line-height: 1;
    padding: 5px 0;
  }

  .footer_sns {
    width: 80%;
  }